.hero {
  color: var(--color-text-dark);
  background: var(--color-background-tertiary);
  overflow: hidden;

  .hero-section {
    display: grid;
    align-items: center;
    height: 100%;
  }

  .hero-text {
    grid-column: 1;
    grid-row: 4;
    z-index: 1;
    width: min(100%, 30ch);
    font-size: var(--text-4xl);
  }

  .hero-image {
    grid-column: 1;
    grid-row: 1 / span 5;
  }
}

.quizzes-by-category {
  padding-top: var(--main-content-padding);

  header {
    display: flex;
    justify-content: space-between;
    h3 {
      text-overflow: clip;
      white-space: nowrap;
    }
  }
  .quiz-list-title,
  .quiz-list-title ~ a {
    color: var(--color-bright-snow);
  }

  .quiz-card:hover {
    --color-base: var(--color-secondary);
    box-shadow: 0 4px 8px hsl(from var(--color-base) h s calc(l + 20));
    border: 0px solid transparent;
  }
}

.featured {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  > * {
    width: 100%;
  }
}
