.hero {
  border-radius: var(--radius-md);
  border: 2px solid var(--color-secondary);
  padding: var(--p-md);
  overflow: hidden;

  .hero-section {
    display: grid;
    align-items: center;
    height: 100%;
  }

  .hero-text {
    grid-column: 1;
    grid-row: 4;
    z-index: 1;
    width: min(100%, 30ch);
    font-size: 2.5rem;
  }

  .hero-image {
    grid-column: 1;
    grid-row: 1 / span 5;
  }
}

.featured {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  > * {
    width: 100%;
  }
}

.quiz-list {
  list-style: none;
}
