@import '../global.css';

nav {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
  padding: var(--p-sm);
}

a {
  padding: var(--p-sm);
  border-radius: var(--radius);
  text-decoration: none;

  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
}
