@import '../global.css';

nav {
  --color: var(--color-secondary);
  --padding: var(--padding-xs) var(--padding-md);

  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
  padding: var(--padding-sm);
}

a {
  color: var(--color-text);
  padding: var(--padding-sm);
  border-radius: var(--border-radius-sm);
  text-decoration: none;

  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
}

a:hover {
  box-shadow: 0 4px 8px var(--color);
  text-decoration: none;
}

a:not(.ghost):hover,
a:not(.ghost).active {
  color: var(--color-text-white);
  background: var(--color-secondary-gradient);
  font-weight: var(--font-weight-medium);
}

.ghost {
  font-size: var(--font-size-sm);
}
