@import '../global.css';

.edit-quiz-view {
  height: calc(100vh - (var(--main-content-padding) * 4));
  overflow-y: scroll;
  scrollbar-width: none;

  .view-header {
    width: 100%;
    word-break: break-all;
    hyphens: auto;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
  }
}

.header > div {
  position: sticky;
  top: 0;
}

.delete-question-button {
  border-radius: 0 var(--radius-sm) 0 var(--radius-sm);
  position: absolute;
  top: 0;
  right: 0;
}

#add-btn {
  margin-top: var(--spacing-md);
}

.submit-and-delete {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

button[type='submit'],
.delete-quiz-button {
  width: 14ch;
  justify-content: center;
}
