.quiz-container {
  --_padding-block: calc(var(--main-content-padding) * 2);
  height: calc(100vh - (var(--_padding-block)));
}

@media screen and (max-width: 639px) {
  .quiz-container {
    --_padding-block: calc(var(--main-content-padding) * 4);
    height: calc(100vh - (var(--_padding-block)));
  }
}

.quiz-play-form {
  align-items: unset;
}

.question-statement {
  font-size: var(--text-lg);
}

.answers {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
}

button.answer {
  height: 3lh;
  width: 100%;
  max-width: calc(80ch + var(--p-sm));
}

button.answer:disabled {
  --color-base: var(--color-primary);
}

button.answer.correct {
  --color-base: var(--color-success);
}

button.answer.incorrect {
  --color-base: var(--color-danger);
  background: var(--color-gradient);
}
