@import '../global.css';

.answers {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 48px;
  gap: var(--spacing-sm);
}

button.answer.correct {
  --color-base: var(--color-success);
}

button.answer.incorrect {
  --color-base: var(--color-danger);
}

button:not(.ghost).answer.correct,
button.answer.incorrect {
  font-weight: var(--font-weight-bold);
  background: var(--color-gradient);
}
