@import '../global.css';

form,
label,
.input-container,
.question-cards,
#create-quiz-form-question {
  display: flex;
  flex-direction: column;
}

form {
  gap: var(--spacing-xl);
}

.question-cards,
#create-quiz-form-question {
  gap: var(--spacing-md);
}

fieldset {
  display: flex;
  flex-direction: column;
  border: transparent;
  gap: var(--spacing-md);
}

legend {
  font-size: var(--text-xl);
  font-weight: var(--font-bold);
  float: left;
  width: 100%;
}

.input-container {
  gap: var(--spacing-sm);
}

label > :not(.description) {
  font-weight: var(--font-bold);
}

.delete-question-button {
  border-radius: 0 var(--radius-sm) 0 var(--radius-sm);
  position: absolute;
  top: 0;
  right: 0;
}

#add-btn {
  margin-top: var(--spacing-md);
}

.delete-quiz-button {
  margin-top: var(--spacing-xl);
  float: right;
}
