.sign-in-view,
.sign-up-view {
  min-height: 100vh;
}

/* .split-view {
  grid-template-rows: min-content;
  gap: 0;
} */

.auth-image {
  width: 80%;
  justify-self: center;
}

@media screen and (max-width: 639px) {
  .auth-image {
    width: 40%;
    margin-inline: auto;
  }
}
