.sign-in-view,
.sign-up-view {
  background: var(--color-background-tertiary);
  color: var(--color-text-dark);
  min-height: 100vh;
}

button {
  color: var(--color-text-light);
}

.auth-image {
  max-width: min(calc(var(--content-max-width) / 2), 100%);
  margin-inline: auto;
}

.sign-in-content,
.sign-up-content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xl);

  h1,
  p {
    width: min(calc(var(--content-max-width) / 2), 100%);
    margin: auto;
  }
}

.signInForm {
  width: 100%;
}

@media screen and (min-width: 900px) {
  .sign-in-view,
  .sign-up-view {
    height: 100%;
  }
}
