.sign-in-view,
.sign-up-view {
  height: 100%;
}

.sign-in-content,
.sign-up-content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xl);

  h1,
  p {
    width: min(calc(var(--content-max-width) / 2), 100%);
    margin: auto;
  }
}

/* .split-view {
  grid-template-rows: min-content;
  gap: 0;
} */

/* .auth-image {
  width: 80%;
  justify-self: center;
} */
