:root {
  --color-sweet-peony: hsl(333, 64%, 66%);
  --color-french-blue: hsl(241, 41%, 39%);
  --color-light-green: hsl(152, 72%, 46%);
  --color-cherry-rose: hsl(335, 72%, 38%);
  --color-glaucous: hsl(220, 37%, 57%);
  --color-bright-snow: hsl(0, 0%, 98%);
  --color-graphite: hsl(0, 0%, 20%);
}

:root {
  --color-primary: var(--color-sweet-peony);
  --color-secondary: var(--color-glaucous);
  --color-tertiary: var(--color-french-blue);
  --color-success: var(--color-light-green);
  --color-danger: var(--color-cherry-rose);
  --color-disabled: hsl(from var(--color-graphite) h s calc(l + 30));

  --color-text-light: var(--color-bright-snow);
  --color-text-medium: hsl(from var(--color-graphite) h s calc(l + 30));
  --color-text-dark: var(--color-graphite);

  --color-background: var(--color-french-blue);
  --color-background-secondary: var(--color-bright-snow);
  --color-background-tertiary: hsl(from var(--color-glaucous) h s calc(l + 30));
}

* {
  --color-base: var(--color-primary);
  --color-light: hsl(from var(--color-base) h s calc(l + 10));
  --color-dark: hsl(from var(--color-base) h s calc(l - 15));
  --color-gradient: linear-gradient(
    to bottom,
    var(--color-base),
    var(--color-light)
  );
  --color-gradient-dark: linear-gradient(
    to bottom,
    var(--color-dark),
    var(--color-base)
  );
}

.secondary {
  --color-base: var(--color-secondary);
}
.tertiary {
  --color-base: var(--color-tertiary);
}
.success {
  --color-base: var(--color-success);
}
.danger {
  --color-base: var(--color-danger);
}
