@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "./colors.css";
@import "./sizes.css";
@import "./ui/typography.css";
@import "./ui/buttons.css";
@import "./ui/links.css";
@import "./ui/forms.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.main-layout {
  display: grid;
  grid-template-columns: 200px auto;
  min-height: 100vh;
}

.main-layout .content-wrapper {
  padding: var(--padding-sm);
}
