@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import './colors.css';
@import './sizes.css';
@import './ui/typography.css';
@import './ui/buttons-and-links.css';
@import './ui/links.css';
@import './ui/forms.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}

:root {
  --nav-width: 200px;
  --animation-duration: 800ms;
  --main-layout-gap: var(--spacing-xl);
  --main-content-scale: 0.8;
  --main-content-padding: 30px;

  --max-content-padding: calc((100vw - 900px - var(--nav-width)) / 2);
  --main-content-padding-inline: max(
    var(--main-content-padding),
    var(--max-content-padding)
  );
}

body {
  color: var(--color-text-light);
  background: var(--color-background-secondary);
}

/* General */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

img {
  width: 100%;
  object-fit: contain;
  display: block;
}

/* Layout */

.main-layout {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.main-nav {
  --_padding: var(--p-sm);

  height: 100vh;
  align-content: center;

  .main-nav-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80vh;
    width: var(--nav-width);

    nav {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-sm);
    }

    a,
    button {
      padding: var(--_padding);
      border-radius: var(--radius);
      text-decoration: none;
      width: 100%;
    }
  }

  #auth-nav {
    padding: var(--_padding);
  }
}

.main-content {
  --_padding-block: calc(var(--main-content-padding));
  --_padding-inline: var(--main-content-padding-inline);

  background: var(--color-background);
  padding-block: var(--_padding-block);
  padding-inline: var(--_padding-inline);
  height: 100vh;
  width: 100%;
  overflow-y: scroll;
  scrollbar-width: none;

  &.split-view {
    display: flex;
    margin-block: calc(var(--_padding-block) * -1);
    margin-inline: calc(var(--_padding-inline) * -1);
    padding-block: var(--_padding-block);
    padding-inline: var(--_padding-inline);
  }

  > * {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xl);
  }
}

@media screen and (max-width: 639px) {
  .main-layout {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }

  .menu-btn {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
  }

  .main-nav-content {
    position: absolute;
    top: 50%;
    right: calc(var(--nav-width) * -1);
    opacity: 0;
    transition:
      right var(--animation-duration) linear,
      opacity var(--animation-duration) linear;
    transform: translateY(-50%);
  }

  .main-content {
    --width: 100vw;
    border-radius: 0;
    padding-block: calc(var(--main-content-padding) * 2);
    width: var(--width);
    scale: 1;
    transition:
      border-radius var(--animation-duration) linear,
      scale var(--animation-duration) linear;
    transform-origin: center left;
    position: absolute;
    top: 0;
    right: 0;
    box-shadow: 0 4px 8px hsl(from var(--color-secondary) h s l / 0.2);
  }

  .main-layout.nav-open {
    .main-nav-content {
      right: 0;
    }

    .main-nav-content {
      opacity: 1;
    }

    .main-content {
      right: calc(
        var(--nav-width) -
          (
            var(--width) * (1 - var(--main-content-scale)) -
              var(--main-layout-gap)
          )
      );
      border-radius: 0 20px 20px 0;
      scale: var(--main-content-scale);
      overflow: hidden;
      pointer-events: none;
    }
  }
}

@media screen and (min-width: 640px) {
  .logo {
    left: unset;
    right: 0;
  }

  .menu-btn {
    display: none;
  }
}

@media screen and (min-width: 900px) {
  .split-view {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--spacing-md);
  }
}

.center-content {
  justify-content: center;
  align-items: center;
}

.quiz-lists-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xl);

  .quiz-list-title {
    color: var(--color-secondary);
    font-size: 2rem;
    margin-bottom: var(--spacing-sm);
  }

  .quiz-list {
    display: grid;
    gap: var(--spacing-md);
    grid-template-columns: repeat(auto-fit, minmax(min(30ch, 100%), 1fr));
    list-style: none;
  }
}

.card {
  background: var(--color-background-secondary);
  border-radius: var(--radius-md);
  box-shadow: 0 4px 8px hsl(from var(--color-secondary) h s l / 0.2);
  padding: var(--p-md);
  position: relative;
}
