:root {
  --3xxs: 4px;
  --xxs: 8px;
  --xs: 10px;
  --sm: 12px;
  --md: 14px;
  --lg: 16px;
  --xl: 18px;
  --2xl: 20px;
  --3xl: 24px;
  --4xl: 32px;
}

:root {
  /* Border */
  --radius-sm: var(--3xxs);
  --radius-md: var(--xxs);
  --radius-lg: var(--lg);

  /* Font Sizes */
  --text-xs: var(--xs);
  --text-sm: var(--sm);
  --text-base: var(--md);
  --text-lg: var(--xl);
  --text-xl: var(--2xl);

  /* Font-Weights */
  --font-light: 300;
  --font-normal: 400;
  --font-medium: 500;
  --font-bold: 700;
  --font-bolder: 900;

  /* Content-width */
  --content-max-width: 900px;
}

:root {
  /* Padding */
  --p-xxs: var(--3xxs) var(--xxs);
  --p-sm: var(--xxs) var(--lg);
  --p-md: var(--lg) var(--3xl);
  --p-3xl: var(--lg) var(--4xl);

  /* Spacing */
  --spacing-xs: var(--3xxs);
  --spacing-sm: var(--xxs);
  --spacing-md: var(--lg);
  --spacing-lg: var(--3xl);
  --spacing-xl: var(--4xl);
}
