:root {
  /* Border */
  --border-radius-sm: 4px;
  --border-radius-md: 8px;
  --border-radius-lg: 16px;

  /* Font Sizes */
  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-md: 16px;
  --font-size-lg: 18px;
  --font-size-xl: 20px;

  /* Font-Weights */
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-weight-bolder: 900;

  /* Sizes */
  --xs: 4px;
  --sm: 8px;
  --md: 16px;
  --lg: 24px;
  --xl: 32px;
}

:root {
  /* Padding */
  --padding-xs: var(--xs) var(--sm);
  --padding-sm: var(--sm) var(--md);
  --padding-md: var(--md) var(--lg);
  --padding-lg: var(--lg) var(--xl);

  /* Spacing */
  --spacing-xs: var(--xs) var(--sm);
  --spacing-sm: var(--sm) var(--md);
  --spacing-md: var(--md) var(--lg);
  --spacing-lg: var(--lg) var(--xl);
}
