@import './colors.css';
@import './sizes.css';

/* colors */
a,
button,
a.button {
  --color: var(--color-background);
  --bg: var(--color-gradient);
  --bg-hover: var(--color-gradient-dark);
  --shadow: var(--color-base);
  --weight: var(--font-bold);
}

a:disabled,
button:disabled,
a.button:disabled {
  --color-base: var(--color-disabled);
  &:hover {
    cursor: not-allowed;
    box-shadow: none;
  }
}

/* === Links === */

a {
  --color: var(--color-base);
  color: var(--color);
  font-weight: var(--weight);
  display: inline-flex;
  gap: var(--spacing-sm);
  align-items: center;
}

a:hover {
  --color: var(--color-dark);
}

a.secondary:hover {
  --color: var(--color-light);
}

/* === Buttons === */

/* normal */

button,
a.button {
  --text-size: var(--text-sm);

  background: var(--bg);
  border: transparent;
  border-radius: var(--radius-sm);
  color: var(--color-background);
  cursor: pointer;
  font-weight: var(--weight);
  padding: var(--p-sm);
  text-decoration: none;
  align-self: self-start;
  display: flex;
  gap: var(--spacing-sm);
  align-items: center;
  min-height: 40px;
  min-width: 40px;

  &:hover {
    background: var(--bg-hover);
    box-shadow: 0 4px 8px var(--shadow);
    cursor: pointer;
  }
}

/* ghost */

.ghost,
a.ghost {
  --border-edge: 2px;
  --radius: var(--radius-sm);

  font-weight: var(--weight);
  position: relative;
  background-clip: text;
  box-decoration-break: clone;
  -webkit-background-clip: text;
  -webkit-box-decoration-break: clone;
  -webkit-text-fill-color: rgba(0, 0, 0, 0);

  &::before,
  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    background: var(--bg-hover);
    border-radius: var(--radius);
    inset: 0;
  }

  &::after {
    background: var(--color-bright-snow);
    border-radius: calc(var(--radius) - var(--border-edge));
    height: calc(100% - (var(--border-edge) * 2));
    left: var(--border-edge);
    top: var(--border-edge);
    width: calc(100% - (var(--border-edge) * 2));
  }

  &:after:is(:hover, :focus-visible),
  .active::after {
    background-color: transparent;
  }

  &:hover,
  .active {
    font-weight: var(--weight);
    -webkit-text-fill-color: var(--color-background);
  }
}
