form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  max-width: var(--content-max-width);
  justify-content: center;
  align-items: center;
}

legend {
  font-size: var(--text-xl);
  font-weight: var(--font-bold);
  float: left;
  width: 100%;
}

fieldset {
  display: flex;
  flex-direction: column;
  border: transparent;
  gap: var(--spacing-md);
}

label {
  display: flex;
  flex-direction: column;
}

label > :not(.description) {
  font-weight: var(--font-bold);
}

input {
  padding: calc(var(--sm) - 1px) calc(var(--md) - 1px);
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: var(--radius-sm);
  width: min(calc(var(--content-max-width) / 2), 100%);
}

input::placeholder {
  color: var(--color-text-medium);
  font-size: var(--text-sm);
  font-weight: var(--font-medium);
}

input:hover {
  padding: calc(var(--sm) - 2px) calc(var(--md) - 2px);
  border: 2px solid var(--color-base);
  box-shadow: 0 4px 8px var(--color-light);
}

input:active,
input:focus {
  outline: transparent;
  border: 1px solid var(--color-base);
}

button[type='submit'] {
  width: min(calc(var(--content-max-width) / 2), 100%);
  align-self: unset;
}

.input-container:has(> input + input) {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
}

form:has(section) {
  gap: var(--spacing-xl);

  fieldset,
  section {
    width: 100%;
  }

  section {
    > fieldset,
    ul {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-md);
      width: 100%;
      list-style: none;
    }
  }
}
