@import "./colors.css";
@import "./sizes.css";

form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  align-items: flex-start;
}

input {
  padding: calc(var(--sm) - 1px) calc(var(--md) - 1px);
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: var(--border-radius-sm);
}

input::placeholder {
  color: var(--color-text);
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-medium);
}

input:hover {
  padding: calc(var(--sm) - 2px) calc(var(--md) - 2px);
  border: 2px solid var(--color-primary);
  box-shadow: 0 4px 8px var(--color-primary-light);
}

input:active,
input:focus {
  outline: transparent;
  border: 1px solid var(--color-primary);
}
