h1 {
  --color-base: var(--color-secondary);
  font-size: var(--text-4xl);
  font-weight: var(--font-bolder);
}

strong,
.logo {
  --color-base: var(--color-tertiary);

  background: var(--color-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: var(--font-bolder);
}

.logo a {
  font-size: inherit;
}

h1:has(strong),
h2:has(strong) {
  background: none;
  font-weight: var(--font-bold);
  -webkit-text-fill-color: currentColor;
}

h2 {
  font-weight: var(--font-bold);
  font-size: var(--text-3xl);
}

strong {
  font-size: inherit;
}

.logo {
  font-size: 2rem;
  margin-bottom: 0;
  padding: var(--p-sm);
}

@media screen and (max-width: 639px) {
  .logo {
    padding-inline: var(--main-content-padding-inline);
  }
}
