h1 {
  --color-base: var(--color-secondary);
  font-size: 2.5rem;
  font-weight: var(--font-bolder);
}

strong,
.logo {
  --color-base: var(--color-secondary);

  background: var(--color-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: var(--font-bolder);
}

.logo a {
  font-size: inherit;
}

h1:has(strong),
h2:has(strong) {
  background: none;
  font-weight: var(--font-bold);
  -webkit-text-fill-color: currentColor;
}

h2 {
  font-size: 2rem;
  font-weight: var(--font-bold);
}

/* h3 {
  font-size: 1.5rem;
  font-weight: var(--font-medium);
}

h4 {
  font-size: 1.25rem;
  font-weight: var(--font-medium);
}

h5 {
  font-size: 1rem;
  font-weight: var(--font-medium);
}

h6 {
  font-size: 0.875rem;
  font-weight: var(--font-medium);
} */

strong {
  font-size: inherit;
}

.logo {
  font-size: 2rem;
  margin-bottom: 0;
  padding: var(--p-sm);
}
